<div class="container">
    <H1 Id="Titulo">LSF SCRIPT</H1>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/menuB" routerLinkActive=""active> menuB </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/randomT" routerLinkActive="active"> test </a>
        </li>
    </ul>
    <!--app-menub></app-menub-->
    <router-outlet></router-outlet>
    
    <!--button type="button" class="btn btn-primary">Primary</button-->
</div>
